
body{
font-family:Arial;text-align:center;background:#fff3df;padding:30px
}
h1{color:#e67e22}
input,select,button{
padding:12px;margin:7px;border-radius:10px;border:1px solid #ddd
}
button{background:#e67e22;color:white;cursor:pointer}
#result{
background:white;padding:20px;margin:25px auto;
max-width:550px;border-radius:15px
}